extends layout

block content
    if user
        .mdl-layout__content
            .home.mdl-typography--text-center
                .home-title= user.challenge.details.name
                p.description= user.challenge.details.description

                p= user.challenge
                form.get-challenge(method="GET" action='/challenges')
                    button(type='submit') GET!
                form.post-challenge()
                    button(type='submit') POST!

    else
        .mdl-layout__content
            .home.mdl-typography--text-center
                .home-title are you challenged?
                .home-subtitle welcome to challenger...make everyday a winning day.
                .home-action
                    a(href="/login")
                        button.home-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored Login
                    a(href="/register")
                        button.home-button.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--accent Register