//- The Email
doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(content='IE=edge' http-equiv='X-UA-Compatible')
    style
      include mail.css
  body
    table.nl-container(bgcolor='#ffab40' cellpadding='0' cellspacing='0' role='presentation' style='table-layout: fixed; vertical-align: top; min-width: 320px; Margin: 0 auto; border-spacing: 0; border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffab40; width: 100%;' valign='top' width='100%')
      tbody
        tr(style='vertical-align: top;' valign='top')
          td(style='word-break: break-word; vertical-align: top; border-collapse: collapse;' valign='top')

            div(style='background-color:transparent;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  .col.num12(style='min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;;')
                    div(style='width:100% !important;')
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:30px; padding-bottom:30px; padding-right: 0px; padding-left: 0px;')
                        div

            div(style='background-color:#ffab40;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: #FFFFFF;;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:#FFFFFF;')
                  .col.num12(style='min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;;')
                    div(style='width:100% !important;')
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:0px; padding-bottom:0px; padding-right: 0px; padding-left: 0px;')
                        div(style="color:#FFFFFF;font-family: 'Roboto','Helvetica','Arial',sans-serif;Arial, 'Helvetica Neue', Helvetica, sans-serif;line-height:120%;padding-top:30px;padding-right:20px;padding-bottom:0px;padding-left:20px;")
                          p(style="font-size: 12px; line-height: 14px; color: #FFFFFF; font-family: 'Roboto','Helvetica','Arial',sans-serif; Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0;")
                            br

            block content

            //Footer for the E-Mail 
            div(style='background-color:#323232;')
              .block-grid(style='Margin: 0 auto; min-width: 320px; max-width: 600px; overflow-wrap: break-word; word-wrap: break-word; word-break: break-word; background-color: transparent;;')
                div(style='border-collapse: collapse;display: table;width: 100%;background-color:transparent;')
                  .col.num12(style='min-width: 320px; max-width: 600px; display: table-cell; vertical-align: top;;')
                    div(style='width:100% !important;')
                      div(style='border-top:0px solid transparent; border-left:0px solid transparent; border-bottom:0px solid transparent; border-right:0px solid transparent; padding-top:30px; padding-bottom:30px; padding-right: 0px; padding-left: 0px;')
                        div
